.category-wrap{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
	padding-top: 4rem;
	h2{
		text-align: center;
		margin: 0 auto;
		max-width: 90%;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba($tan, 0.4);
		color: $tan;
		font-weight: 300;
	}
}

.cat-grid{
	padding: 1rem 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.cat-item{
	height: 85px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	margin: 1rem;
	border: 1px solid rgba($white, 0.3);
	border-radius: 4px;
	background-color: rgba($white, 0.2);
	color: $white;
	text-align: center;
	font-weight: 300;
	font-size: .95rem;
	letter-spacing: 1px;
	transition: all .3s ease;
	&:hover{
		background-color: rgba($white, 0.7);
		color: $blue-dk;
	}
}