.list-wrap{
	padding: 1rem;
	margin-top: 0rem;
	background-color: $tan;
	h4{
		position: relative;
		color: $blue-dk;
		//border-bottom: 1px solid $blue-dk;
		background-color: $tan;
		text-align: center;
		z-index: 10;
		span{
			display: inline-block;
			padding: .5rem  1rem;
			background-color: $tan;
			border-radius: 2px;
			color: darken($tan, 20%);
			letter-spacing: 1px;
		}
		&:before{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			top: 19px; left: 0;
			background-color: darken($tan, 20%);;
			z-index: -1;
		}
	}
}

.list-title{
	color: $gray-dk;
	font-weight: 300;
}


.list-item{
	display: flex;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid $gray-lt;
	&:last-child{
		border-bottom: none;
	}
}

.thumb{
	width: 70px;
	height: 70px;
	margin-right: 1rem;
	border-radius: 2px;
	background-size: cover;
	background-position: center center;
}

.list-details{
	
}